oro_mailchimp_bundle:
    resource:     "@OroMailChimpBundle/Controller"
    type:         annotation
    prefix:       /


#
# OLD REST API ROUTES
#

oro_api_update_staticsegment_status:
    path: '/api/rest/{version}/staticsegment/{id}/status.{_format}'
    methods: [POST]
    defaults:
        _controller: 'Oro\Bundle\MailChimpBundle\Controller\Api\Rest\StaticSegmentController::updateStatusAction'
        _format: json
        version: latest
    requirements:
        id: \d+
        _format: json|html
        version: latest|v1

oro_api_delete_staticsegment:
    path: '/api/rest/{version}/staticsegments/{id}.{_format}'
    methods: [DELETE]
    defaults:
        _controller: 'Oro\Bundle\MailChimpBundle\Controller\Api\Rest\StaticSegmentController::deleteAction'
        _format: json
        version: latest
    requirements:
        id: \d+
        _format: json|html
        version: latest|v1
